# env
/build/env
!/build/env/.keep

# config
/configs/sqlboiler.toml

# db
/db/mariadb/log
!/db/mariadb/log/.keep
/db/mariadb/dump
!/db/mariadb/dump/.keep

# air binary output
/build/tmp
!/build/tmp/.keep
